<p class="bg-info">
  Find me in app/views/parks/index.html.erb
</p>

<h3>
  All Parks for <%= @city.name %>
</h3>

<p>
  <!-- Want this to be a link to the create a new park page -->
  <%= link_to 'Create a new park', new_city_park_path(@city) %>
</p>

<p>
  <% @parks.each do |park| %>
    <p>
      <!-- Want these all to be links to the parks show for each park -->
      <%= link_to park.name, city_park_path(@city, park), class: "parkling" %>
    </p>
  <% end %>
</p>
